*{
    margin:0;
    padding:0;

}


#header{
    text-align: center; 
    background-color: #081b31;
    color:whitesmoke;
    font-size: large;
    height:4rem;
    line-height: 4rem;
    margin-bottom: 100px;
    
    
}
.main{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5rem;
    
}
.image{
    height:310px;
    width:310px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    margin:10px;
   

}
.image:hover{
    cursor: pointer;
    background-color: #081b31;
}
img{
    height:300px;
    width:300px;
    object-fit: fill;
    border-radius: 20px;
    

}
body{
    background-color: lightcyan;
}
